<!--The content below is only a placeholder and can be replaced.-->

<!--组件-->
<app-message></app-message>

<!--指令-->
<div>
  <h2>指令</h2>
  <div [greet]="'指令的内容'"></div>
</div>

<!--路由-->
<h2>路由跳转</h2>
<ul>
  <li>
    <a routerLink="/heroes">跳转到英雄界面</a>
  </li>
  <li>
    <a routerLink="/detail/2">跳转到英雄详情界面</a>
  </li>
  <li>
    <a routerLink="/sharePlatform">跳转到共享平台界面</a>
  </li>
  <li>
    <a routerLink="/ngZorroDemo">跳转到NG-ZORRO测试界面</a>
  </li>
</ul>

<!--路由出口-->
<router-outlet></router-outlet>