<!--漫威超级英雄-->
<div class="heroes_div">
  <h1>{{title}}</h1>
  <div class="btns_div">
    <div class="btn">网格展示</div>
    <div class="btn">列表展示</div>
  </div>

  <!--网格-->
  <div class="dashbord_div">
    <div class="hero_div" *ngFor="let hero of heroes" [@heroState]="hero.state" (click)="hero.state=hero.state=='inactive'?'active':'inactive'">
      <img src="../../assets/heroes/{{hero.img}}" height="300px">
      <div class="hero_name">{{hero.name|uppercase}}</div>
    </div>
  </div>

  <!--列表-->
  <div class="list_div">
    <div class="list_item" [class.selected]="hero===selectedHero" *ngFor="let hero of heroes;let index=index" (click)="selectHero(hero)">
      <span>{{index+1}}：</span>
      <span>{{hero.name|uppercase}}</span>
    </div>
  </div>

  <!--详情-->
  <div *ngIf="selectedHero">
    <h2>超级英雄：{{selectedHero.name|uppercase}}的详细信息</h2>
    <div>id为{{selectedHero.id}}</div>
    <img src="../../assets/heroes/{{selectedHero.img}}" height="300px">
    <div>
      <input type="text" [(ngModel)]="selectedHero.name">
    </div>
  </div>

  <!--详情组件-->
  <app-hero-detail [oneHero]="selectedHero"></app-hero-detail>
</div>