/*圆角效果*/
.border_radius {
  height: 100px;
  width: 100px;
  background-color: #f2f4f6;
  border-radius: 50px;
  -webkit-border-radius: 50px; /*Chrome和Safari浏览器*/
  -moz-border-radius: 50px; /*firefox浏览器*/
  -ms-border-radius: 50px; /*IE浏览器*/
  -o-border-radius: 50px; /*Opera浏览器*/
}
/*阴影*/
.box_shadow {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  margin-bottom: 40px;
  box-shadow: 5px 5px 5px 5px #ddd;
}
.box_shadow_inset {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px 5px #ddd inset;
}
/*边框背景*/
.border_image {
  height: 100px;
  width: 100px;
  background: #aaa;
  border: 15px solid #ddd;
  border-image: url(./borderImg.png) 20 40 10 20;
}
/*RGBA*/
.RGBA {
  height: 100px;
  width: 100px;
  background-color: rgba(235, 160, 179, 0.5);
}
/*HSLA*/
.HSLA{
  height: 100px;
  width: 100px;
  background-color: hsla(180,50%,50%,1);
}
/*线形渐变背景*/
.linear_gradient {
  height: 100px;
  width: 300px;
  background-image: linear-gradient(
    to right,
    #fff,
    #000,
    red,
    blue,
    yellow,
    green,
    gray
  );
}
/*线形渐变背景*/
.radial_gradient{
  height: 200px;
  width: 300px;
  background-image: radial-gradient(circle at 100px center,red 50px,transparent)
}
/*文字溢出*/
.text_overflow {
  height: 30px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*嵌入字体*/
@font-face {
  font-family: 'newFont'; /*字体名称*/
  src: url(./FontAwesome.otf); /*字体所在地址*/
}
.font_face {
  font-family: 'newFont';
  font-size: 20px;
  font-weight: bold;
}
/*文本阴影*/
.text_shadow {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 5px 5px 1px #aaa;
}
/*背景图起始位置*/
.background_origin {
  height: 200px;
  width: 300px;
  padding: 40px;
  background: url(backgroundImg.png) no-repeat;
  /*必须写no-repeat才有效*/
  background-origin: content-box;
  /*必须写在background后面才有效*/
  background-color: #ddd;
}
/*背景图裁剪*/
.background_clip {
  height: 200px;
  width: 200px;
  padding: 20px;
  background: url(backgroundImg.png) no-repeat;
  background-clip: content-box; /*超出内容区的背景图会被裁剪掉*/
}
/*背景图大小*/
.background_size {
  height: 200px;
  width: 300px;
  background: url(backgroundImg.png) no-repeat;
  background-size: contain;
}
/*多背景图*/
.multi_background {
  height: 200px;
  width: 300px;
  padding: 20px;
  background: url(backgroundImg.png) no-repeat, url(./borderImg.png) no-repeat;
  background-origin: content-box, border-box;
}
/*背景导航*/
.background_menu {
  height: 60px;
  line-height: 60px;
  background-color: rgba(210, 53, 125, 1);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px #333;
  color: #fff;
}
.background_menu ul {
  list-style-type: none;
}
.background_menu li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.background_menu li:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 40px;
  top: 10px;
  right: -1px;
  background-image: linear-gradient(to bottom, red, blue, red);
}
.background_menu li:last-child:after {
  display: none;
}
/*属性选择器*/
li[attr^=value]{
    background-color: #d2357d;
}
li[attr$=value]{
    background-color: green;
}
li[attr*=AvalueB]{
    background-color: blue;
}
/*结构性伪类选择器not*/
.not li:not(.notLi){
  color:#18a0ff;
}
/*结构性伪类选择器empty*/
.empty li:empty{
  height: 30px;
  background-color: #18a0ff;
}
/*结构性伪类选择器target*/
:target{
  background-color: #18a0ff;
  color:#fff;
}
/*结构性伪类选择器first-child和last-child*/
.childLi:first-child{
  color:red;
}
.childLi:last-child{
  color:blue;
}
/*结构性伪类选择器nth-child(n)*/
.nthChildLi:nth-child(2n+1){/*奇数位为蓝色*/
  color:blue;
}
.nthChildLi:nth-child(even){/*偶数位为青色*/
  color:greenyellow;
}
.nthChildLi:nth-child(2){/*第二个为红色*/
  color:red;
}
/*结构性伪类选择器nth-last-child(n)*/
.nthLastChildLi:nth-last-child(2){/*倒数第二个元素为红色*/
  color:red;
}
/*only-child*/
.onlyChildLi:only-child{
  color: #18a0ff;
}
/*enabled和disabled*/
.abled input:enabled{
  background-color: #18a0ff;
}
.abled input:disabled{
  background-color: #d2357d;
}
/*checked*/
.checked input:checked{
  height: 40px;
  width: 40px;
}
/*read-only和read-write*/
.readOnlgy input:read-only{
  background-color: #ccc;
}
.readOnlgy input:read-write{
  background-color: aqua;
}
/*伪元素选择器::selection*/
::selection{
  color:#fff;
  background-color: gold;
}
/*伪元素选择器::before和::after*/
.beforeAfter{
  position: relative;
  height: 200px;
  width: 300px;
  line-height: 200px;
  text-align: center;
  box-shadow: 0 0 5px #aaa;
  background-color: #fff;
}
.beforeAfter::before,
.beforeAfter::after{
  content: "";
  position: absolute;
  top:50%;
  right: 10px;
  width: 280px;
  height: 50%;
  box-shadow: 0 0 20px #000;
  z-index: -10;
  border-radius: 20%;
}
/*图片切换*/
.slider{
  margin-top:50px;
  position: relative;
}
.slider li{
  position: relative;
  display: inline-block;
  color:#fff;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.slider li::before{
  content: "";
  position: absolute;
  top:-40px;
  right: 15px;
  width: 70px;
  height: 70px;
  background-color: #18a0ff;
  border-radius: 50%;
  border:2px solid #fff;
}
.slider li:nth-child(1){
  background-color: #13636f;
}
.slider li:nth-child(2){
  background-color: #e51134;
}
.slider li:nth-child(3){
  background-color: #6eb36c;
}
.slider li:nth-child(4){
  background-color: #e26843;
}
.backgroundImg{
  height: 300px;
  width: 100%;
  background-color: #f2f4f6;
  z-index: -1;
}
.backgroundImg img{
  display: none;
  height: 100%;
}
:target{
  display: unset !important;
}
/*变形：旋转rotate*/
.rotateS,
.rotateN{
  margin-top:50px;
  margin-bottom: 50px;
  height: 150px;
  width: 150px;
  background-color: #f2f4f6;
  text-align: center;
  line-height: 150px;
}
.rotateS{
  transform: rotate(45deg);
}
.rotateN{
  transform: rotate(-45deg);
}
/*变形：扭曲skew*/
.skewH,
.skewV,
.skewHV{
  height: 200px;
  line-height: 200px;
  width: 200px;
  text-align: center;
  background-color: #f2f4f6;
}
.skewH{
  transform: skewX(30deg)
}
.skewV{
  transform: skewY(30deg)
}
.skewHV{
  transform:skew(30deg,30deg);
}
/*缩放*/
.scale{
  height: 200px;
  line-height: 200px;
  width: 200px;
  text-align: center;
  background-color: #f2f4f6;
  transform: scale(0.99,0.55)
}
/*位移*/
.translate{
  height: 200px;
  line-height: 200px;
  width: 200px;
  text-align: center;
  background-color: #f2f4f6;
  transform: translate(50px,0px)
}
/*变换矩阵*/
.matrix{
  height: 200px;
  line-height: 200px;
  width: 200px;
  text-align: center;
  background-color: #f2f4f6;
  transform: matrix(1,0,0,1,50,0);
}
/*过渡*/
.transition_div{
  position: relative;
  height: 200px;
  width:200px;
  background-color: #f2f4f6;
  overflow: hidden;
}
.transition{
  position: absolute;
  top:0;
  left:-200px;
  width:100%;
  height: 100%;
  background-color: #e51134;
  transition: all 0.4s ease-in-out
}
.transition_div:hover .transition{
  left:0;
  height: 100px;
}
/*关键帧、动画*/
@keyframes animateTest{
  0%{
    background-color:red;
  }
  20%{
    background-color:orange;
  }
  40%{
    background-color:yellow;
  }
  60%{
    background-color:green;
  }
  80%{
    background-color: greenyellow;
  }
  90%{
    background-color: blue;
  }
  100%{
    background-color: blueviolet;
  }
}
.animation_div{
  height: 100px;
  line-height: 100px;
  width: 100px;
  text-align: center;
  animation: animateTest 5s ease-in-out infinite alternate;
}
/*多列布局columns*/
.columns{
  -webkit-columns: 150px 3;
  -moz-columns: 150px 3;
  -o-columns:150px 3;
  -ms-columns: 150px 3;
  columns: 150px 3;
  column-gap:3em;
  column-rule: 2px dotted green;
}
.columns p:first-child{
  column-span: all;
}
/*伸缩布局flex*/
.flexbox{
  display: flex;
  flex-direction: row;
  align-items: center
}
.flexbox_item{
  height: 100px;
  width: 100px;
  background-color: #18a0ff;
  margin:5px;
  flex: 200
}
/*自由缩放属性*/
.resize{
  overflow: hidden;
  height: 200px;
  line-height: 200px;
  width: 200px;
  background-color: #18a0ff;
  text-align: center;
  resize: horizontal;
  -webkit-resize: horizontal;
  -moz-resize: horizontal;
  -o-resize: horizontal;
  -ms-resize: horizontal;
}
/*外轮廓属性outline*/
.outline{
  padding: 20px;
  margin: 30px;
  outline: red solid 2px;
  border: 2px solid green;
}
/*分享图标*/
.icon-share{
  position: relative;
  height: 100px;
}
.icon-share-tail{
  position: absolute;
  top: 40px;
  left: 0;
  width: 80px;
  height: 40px;
  border-top: 20px #aaa solid;
  border-top-left-radius: 80px 60px;
}
.icon-share-triangle{
  position: absolute;
  top: 20px;
  left: 80px;
  border-left: 20px #aaa solid;
  border-top: 30px transparent solid;
  border-bottom: 30px transparent solid;
}
/*内外圆角标签页*/
.tab{
  position: relative;
  margin-left: 100px;
  background: #aaa;
  height: 60px;
  width: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.tab::before,.tab::after{
  content: '';
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 20px;
}
.tab::before{
  left: -20px;
  background: radial-gradient(circle at top left,transparent 20px,#aaa 21px);
}
.tab::after{
  right: -20px;
  background: radial-gradient(circle at top right,transparent 20px,#aaa 21px);
}
/*3D透视图效果*/
.perspective_super{
  height: 400px;
  width: 400px;
  border: 5px solid #ddd;
  margin-left: 100px;
  perspective: 300;
  -webkit-perspective: 300;
}
.perspective_div{
  height: 300px;
  line-height: 300px;
  width: 300px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  background-color: #e26843;
  margin: 50px auto;
  transform: rotateX(50deg);
  box-shadow: 5px 5px 10px #aaa;
}
/*引导遮罩效果*/
.guide-div{
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.guide-content{
  background-color: #e26843;
  color: #fff;
  height: 400px;
  line-height: 400px;
  text-align: center;
}
.guide-area{
  position: absolute;
  top:50%;
  left: 50%;
  height: 40px;
  width: 100px;
  margin-top: -20px;
  margin-left: -140px;
  box-shadow: rgba(33, 33, 33, 0.7) 0px 0px 0px 1920px;
  transition: all 0.25s;
}
.guide-area-next{
  left: 60%;
}
.guide-tip{
  position: absolute;
  top: -40px;
  left: 0;
  width: 150px;
  color: #fff;
}
.guide-next{
  position: absolute;
  top: -50px;
  left: 140px;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  color: rgb(176, 190, 197);
  border: 1px solid rgb(176, 190, 197);
  transition: all 0.25s;
  cursor: pointer;
}
.guide-next:hover{
  color: #fff;
  border-color: #fff;
}
/*翘边阴影*/
.raiseAngle{
  position: relative;
  height: 200px;
  width: 300px;
  line-height: 200px;
  text-align: center;
  box-shadow: 0 0 5px #aaa;
  background-color: #fff;
  margin:50px 0 50px 50px;
}
.raiseAngle::before{
  content: "";
  position: absolute;
  top:86px;
  left:4px;
  width: 290px;
  height: 100px;
  transform: skew(5deg,5deg);
  box-shadow: 5px 10px 20px #000;
  z-index: -1;
}
.raiseAngle::after{
  content: "";
  position: absolute;
  top:86px;
  right: 4px;
  width: 290px;
  height: 100px;
  transform: skew(-5deg,-5deg);
  box-shadow: -5px 10px 20px #000;
  z-index: -1;
}
/*半透明边框*/
.alphaBorder-div{
  position: relative;
  height: 400px;
  width: 600px;
  background:#6eb36c;
}
.alphaBorder-border{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 300px;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #d2357d;
  background-clip: padding-box;
  border:20px solid hsla(0,0%,100%,0.5);
}
.alphaBorder{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 300px;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #d2357d;
  border:20px solid hsla(0,0%,100%,0.5);
  box-shadow: 0px 0px 0px 20px hsla(0,0%,100%,0.5);
}
/*边框内圆角、外直角效果*/
.innerCircleAngle{
  height: 200px;
  width: 300px;
  margin: 20px;
  background-color: #e26843;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  outline: 10px solid #aaa;
  box-shadow: 0px 0px 0px 10px #aaa;
}
/*条纹背景*/
.stripedBackground{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #aaa;
  margin: 10px;
}
.stripedBackground-1{
  background-image: linear-gradient(to right,#fb3 50%,#58a 50%);
  background-size: 50px 100%;
}
.stripedBackground-2{
  background-image: linear-gradient(to bottom,#fb3 33%,#58a 33%,#58a 66%, #e26843 66%);
  background-size: 100% 50px;
}
.stripedBackground-3{
  background-image: linear-gradient(to right bottom,#fb3 50%,#58a 51%);
  background-size: 50px 50px;
}
.stripedBackground-4{
  background-image: radial-gradient(circle at left top,#fb3 50%,#58a 100%);
  background-size: 50px 50px;
}
.stripedBackground-5{
  background-image: linear-gradient(to right bottom,#fb3 25%,#58a 25%,#58a 50%,#fb3 50%,#fb3 75%,#58a 75%);
  background-size: 50px 50px;
}
.stripedBackground-6{
  background: repeating-linear-gradient(70deg,#fb3, #fb3 15px, #58a 17px, #58a 30px);
}
.stripedBackground-7{
  background: #58a;
  background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px, transparent 0, transparent 30px);
}
/*网格背景*/
.gridBackground{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #aaa;
  margin: 10px;
}
.gridBackground-1{
  border:1px solid #eee;
  background: white no-repeat;
  background-image: linear-gradient(90deg,rgba(200,0,0,.5) 50%, transparent 0),linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size: 30px 30px;
}
.gridBackground-2{
  background: white;
  background-image: linear-gradient(90deg,rgba(200,0,0,.5) 50%, transparent 0),linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
  background-size: 30px 30px;
}
.gridBackground-3{
  border:1px solid #eee;
  background: white no-repeat;
  background-image: linear-gradient(90deg,rgba(0,0,100,.3) 29px, transparent 0),linear-gradient(rgba(0,0,100,.3) 29px, transparent 0);
  background-size: 30px 30px;
}
.gridBackground-4{
  background: white;
  background-image: linear-gradient(90deg,rgba(0,0,100,.3) 29px, transparent 0),linear-gradient(rgba(0,0,100,.3) 29px, transparent 0);
  background-size: 30px 30px;
}
.gridBackground-5{
  border:1px solid #eee;
  background: #fff no-repeat;
  background-image: radial-gradient(circle at center,tan 5px,#655 6px);
  background-size: 30px 30px;
}
.gridBackground-6{
  background: #fff;
  background-image: radial-gradient(circle at center,tan 5px,#655 6px);
  background-size: 30px 30px;
}
.gridBackground-7{
  background: #655 no-repeat;
  background-image: radial-gradient(circle at center,tan 5px,transparent 6px),radial-gradient(circle at center,tan 5px,transparent 6px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px;
}
.gridBackground-8{
  background: #655;
  background-image: radial-gradient(circle at center,tan 5px,transparent 6px),radial-gradient(circle at center,tan 5px,transparent 6px);
  background-size: 30px 30px;
  background-position: 0 0,15px 15px;
}
.gridBackground-9{
  background: #eee no-repeat;
  background-image: linear-gradient(45deg,#aaa 25%,transparent 25%);
  background-size: 30px 30px;
}
.gridBackground-10{
  background: #eee no-repeat;
  background-image: linear-gradient(45deg,transparent 75%,#aaa 75%);
  background-size: 30px 30px;
}
.gridBackground-11{
  background: #eee no-repeat;
  background-image: linear-gradient(45deg,#aaa 25%,transparent 25%),linear-gradient(45deg,transparent 75%,#aaa 75%);
  background-size: 30px 30px;
  background-position: 0 0,-15px 15px;
}
.gridBackground-12{
  background: #eee no-repeat;
  background-image: linear-gradient(45deg,#aaa 25%,transparent 25%),linear-gradient(45deg,transparent 75%,#aaa 75%),
                    linear-gradient(45deg,#aaa 25%,transparent 25%),linear-gradient(45deg,transparent 75%,#aaa 75%);
  background-size: 30px 30px;
  background-position: 0 0,-15px 15px,15px -15px,0 0;
}
.gridBackground-13{
  background: #eee;
  background-image: linear-gradient(45deg,#aaa 25%,transparent 25%),linear-gradient(45deg,transparent 75%,#aaa 75%),
                    linear-gradient(45deg,#aaa 25%,transparent 25%),linear-gradient(45deg,transparent 75%,#aaa 75%);
  background-size: 30px 30px;
  background-position: 0 0,-15px 15px,15px -15px,0 0;
}