*{
    box-sizing: border-box;
}
.heroes_div{
    margin: 10px;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}
.heroes_div:before{
    display: table;
    content: "";
}
.heroes_div:after{
    display: table;
    content: "";
    clear: both;
}
.btns_div{
    height: 40px;
    margin: 10px;
}