<!--NG-ZORRO-->
<div>
    <h2>{{title}}</h2>
    <div>
        <h3>（1）按钮</h3>
        <button nz-button nzType="primary">
            <i class="anticon anticon-search"></i>Primary</button>
        <button nz-button nzType="default" [nzLoading]="true">Default</button>
        <button nz-button nzType="dashed" [nzSize]="'large'">Dashed</button>
        <button nz-button nzType="danger">Danger</button>
    </div>
    <div>
        <h3>（2）图标</h3>
        <i class="anticon anticon-logout"></i>
    </div>
    <div>
        <h3>（3）栅格系统</h3>
        <div nz-row>
            <div nz-col nzSpan="12">col-12</div>
            <div nz-col nzSpan="12">col-12</div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">col-12</div>
            <div nz-col nzSpan="8">col-8</div>
            <div nz-col nzSpan="4">col-4</div>
        </div>
    </div>
    <div>
        <h3>（4）布局</h3>
        <nz-layout>
            <nz-header>
                页头
            </nz-header>
            <nz-content>
                <nz-layout>
                    <nz-sider>
                        侧边栏
                    </nz-sider>
                    <nz-content>
                        页体
                    </nz-content>
                </nz-layout>
            </nz-content>
            <nz-footer>
                页尾
            </nz-footer>
        </nz-layout>
    </div>
    <div>
        <h3>（5）固钉</h3>
        <nz-affix [nzOffsetTop]="true">
            <button nz-button nzType="primary">固钉：始终显示在页面中，当滚动页面而超出页面显示区时，将其固定在页面顶部</button>
        </nz-affix>
    </div>
    <div>
        <h3>（6）面包屑</h3>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
                Home
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Application List</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                An Application
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div>
        <h3>（7）下拉菜单</h3>
        <nz-dropdown [nzPlacement]="'topRight'" [nzTrigger]="'click'">
            <a nz-dropdown>
                下拉菜单
                <i class="anticon anticon-down"></i>
            </a>
            <ul nz-menu nzSelectable>
                <li nz-menu-item>菜单一</li>
                <li nz-menu-item>
                    <a>菜单二</a>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item [nzDisabled]="true">菜单三</li>
                <li nz-submenu>
                    <span title>菜单四：拥有子菜单</span>
                    <ul>
                        <li nz-menu-item>子菜单一</li>
                        <li nz-menu-item>子菜单二</li>
                        <li nz-submenu>
                            <span title>子菜单三：拥有子子菜单</span>
                            <ul>
                                <li nz-menu-item>子子菜单一</li>
                                <li nz-menu-item>子子菜单二</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nz-dropdown>
    </div>
    <div>
        <h3>（8）右键菜单</h3>
        <div style="background: rgb(190, 200, 200); padding: 32px;text-align: center" (contextmenu)="contextMenu($event,template)">
            <ng-template #template>
                <ul nz-menu nzInDropDown (nzClick)="close($event)">
                    <li nz-menu-item>菜单一</li>
                    <li nz-menu-item>
                        <a>菜单二</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item [nzDisabled]="true">菜单三</li>
                    <li nz-submenu>
                        <span title>菜单四：拥有子菜单</span>
                        <ul>
                            <li nz-menu-item>子菜单一</li>
                            <li nz-menu-item>子菜单二</li>
                            <li nz-submenu>
                                <span title>子菜单三：拥有子子菜单</span>
                                <ul>
                                    <li nz-menu-item>子子菜单一</li>
                                    <li nz-menu-item>子子菜单二</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ng-template>
            <span>右键菜单的区域</span>
        </div>
    </div>
    <div>
        <h3>（9）导航菜单</h3>
        <div>
            <button (click)="menuType='horizontal'" nz-button nzType="primary" style="margin:0 10px 5px 0">横向菜单</button>
            <button (click)="menuType='inline'" nz-button nzType="primary" style="margin:0 10px 5px 0">纵向菜单</button>
            <button (click)="menuTheme='light'" nz-button nzType="primary" style="margin:0 10px 5px 0">亮色主题菜单</button>
            <button (click)="menuTheme='dark'" nz-button nzType="primary" style="margin:0 10px 5px 0">暗色主题菜单</button>
            <button (click)="message.info('全局提示')" nz-button nzType="primary" style="margin:0 10px 5px 0">显示全局提示</button>
        </div>
        <ul nz-menu [nzMode]="menuType" [nzTheme]="menuTheme">
            <li nz-menu-item>
                <i class="anticon anticon-mail"></i> Navigation One</li>
            <li nz-menu-item nzDisabled>
                <i class="anticon anticon-appstore"></i> Navigation Two</li>
            <li nz-submenu>
                <span title>
                    <i class="anticon anticon-setting"></i> Navigation Three - Submenu</span>
                <ul>
                    <li nz-menu-group>
                        <span title>Item 1</span>
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group>
                        <span title>Item 2</span>
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                            <li nz-submenu>
                                <span title>Sub Menu</span>
                                <ul>
                                    <li nz-menu-item nzDisabled>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                            <li nz-submenu nzDisabled>
                                <span title>Disabled Sub Menu</span>
                                <ul>
                                    <li nz-menu-item>Option 5</li>
                                    <li nz-menu-item>Option 6</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li nz-menu-item>
                <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
            </li>
        </ul>
    </div>
    <div>
        <h3>（10）表格和模板变量（表格是自带了分页条的）</h3>
        <!--表格：模板引用变量，指的就是DOM元素-->
        <nz-table #nzTable nzBordered [nzScroll]="{ y: '800px',x:'1300px' }" [nzData]="dataSet" [nzPageSize]="10" [nzTotal]="dataSet.length"
            [nzShowTotal]="totalTemplate1" nzShowSizeChanger nzShowQuickJumper>
            <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr>
                    <th nzWidth="150px" nzLeft="0px"></th>
                    <th nzWidth="150px" nzShowCheckbox nzShowRowSelection [nzSelections]="listOfSelection" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="checkAll($event)"></th>
                    <th nzWidth="150px">序号</th>
                    <th nzWidth="150px" nzShowSort [nzSortKey]="'key'">编号编号编号编号编号编号编号编号编号编号编号编号编号编号编号</th>
                    <th nzWidth="150px" nzShowSort [nzSortKey]="'name'">姓名</th>
                    <th nzWidth="150px" nzShowSort [nzSortKey]="'age'">年龄</th>
                    <th nzWidth="150px">地址</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-item [ngForOf]="dataSet" let-index="index">
                    <tr>
                        <td nzShowExpand [(nzExpand)]="item.expand" nzLeft="0px"></td>
                        <td nzShowCheckbox [(nzChecked)]="item.checked" (nzCheckedChange)="refreshStatus($event)"></td>
                        <td>{{index+1}}</td>
                        <td>{{item.key}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.address}}</td>
                        <td>
                            <a href="#" (click)="edit(i)">编辑</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <nz-popconfirm [nzTitle]="'确认删除?'" (nzOnConfirm)="deleteRow(data.key)">
                                <a nz-popconfirm>删除</a>
                            </nz-popconfirm>
                        </td>
                    </tr>
                    <tr [nzExpand]="item.expand">
                        <td></td>
                        <td colspan="7">
                            <div style="float: left;width:50%;min-height: 100px;background-color: #fff">
                                <nz-table [nzData]="dataSet" [nzPageSize]="10" [nzLoading]="true">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>编号</th>
                                            <th>姓名</th>
                                            <th>年龄</th>
                                            <th>地址</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of dataSet;let index=index">
                                            <td>{{index+1}}</td>
                                            <td>{{item.key}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.age}}</td>
                                            <td>{{item.address}}</td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                            <div style="float: left;width:50%;min-height: 100px;background-color: #fff">
                                <nz-table [nzData]="dataSet2" [nzPageSize]="10" [nzLoading]="true">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>编号</th>
                                            <th>姓名</th>
                                            <th>年龄</th>
                                            <th>地址</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of dataSet2;let index=index">
                                            <td>{{index+1}}</td>
                                            <td>{{item.key}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.age}}</td>
                                            <td>{{item.address}}</td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </nz-table>
        <ng-template #totalTemplate1 let-total1 let-range="range">
            当前显示第 {{range[0]}} 到 {{total1
            <=range[1]?total1:range[1]}} 条数据，共 {{total1}} 条数据 </ng-template>
    </div>
    <div>
        <h3>（11）分页条</h3>
        <nz-pagination [nzPageIndex]="3" [nzTotal]="500" [nzPageSize]="10" [nzShowTotal]="totalTemplate" nzShowSizeChanger [nzPageSizeOptions]="[100,200]"
            nzShowQuickJumper></nz-pagination>
        <ng-template #totalTemplate let-total>
            共 {{total}} 条数据
        </ng-template>
    </div>
    <div style="height: 1200px;"></div>
</div>